<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.mointe.vaccination"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for My App"
        android:targetPackage="cn.mointe.vaccination" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="cn.mointe.vaccination.activity.WelcomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.mointe.vaccination.activity.GuideActivity" >
        </activity>
        <activity
            android:name="cn.mointe.vaccination.activity.MainActivity"
            android:icon="@drawable/main_menu" >
        </activity>
        <activity
            android:name="cn.mointe.vaccination.activity.WeatherActivity"
            android:label="@string/weather"
            android:parentActivityName="cn.mointe.vaccination.activity.MainActivity" >
        </activity>
        <activity
            android:name="cn.mointe.vaccination.activity.SettingActivity"
            android:label="@string/action_settings" >
        </activity>
        <activity
            android:name="cn.mointe.vaccination.activity.VaccinationDetailActivity"
            android:label="@string/vaccination_detail"
            android:parentActivityName="cn.mointe.vaccination.activity.MainActivity" >
        </activity>
        <!-- 添加Baby -->
        <activity
            android:name="cn.mointe.vaccination.activity.FirstAddBabyActivity"
            android:label="@string/add_baby" >
        </activity>
        <activity
            android:name="cn.mointe.vaccination.activity.RegisterBabyActivity"
            android:label="@string/add_baby" >
        </activity>

        <provider
            android:name="cn.mointe.vaccination.provider.VaccinationProvider"
            android:authorities="cn.mointe.vaccination.providers.VaccinationProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name="cn.mointe.vaccination.provider.BabyProvider"
            android:authorities="cn.mointe.baby.babyprovider"
            android:exported="false" >
        </provider>
        <provider
            android:name="cn.mointe.vaccination.provider.VaccineProvider"
            android:authorities="cn.mointe.vaccination.providers.VaccineProvider"
            android:exported="false" >
        </provider>

        <uses-library android:name="android.test.runner" />
    </application>

</manifest>